<h1>Lista de Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Dirección</th>
      <th>Fecha de Registro</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nombre %></td>
        <td><%= cliente.email %></td>
        <td><%= cliente.telefono %></td>
        <td><%= cliente.direccion %></td>
        <td><%= cliente.fecha_registro %></td>
        <td>
          <%= link_to 'Ver', cliente %>
          <%= link_to 'Editar', edit_cliente_path(cliente) %>
          <%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar este cliente?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Nuevo Cliente', new_cliente_path %>
