<div id="<%= dom_id detalle_de_pedido %>">
  <p>
    <strong>Cantidad:</strong>
    <%= detalle_de_pedido.cantidad %>
  </p>

  <p>
    <strong>Precio unitario:</strong>
    <%= detalle_de_pedido.precio_unitario %>
  </p>

  <p>
    <strong>Subtotal:</strong>
    <%= detalle_de_pedido.subtotal %>
  </p>

  <p>
    <strong>Pedido:</strong>
    <%= detalle_de_pedido.pedido_id %>
  </p>

  <p>
    <strong>Producto:</strong>
    <%= detalle_de_pedido.producto_id %>
  </p>

</div>
