<%= stylesheet_link_tag 'dpyp', media: 'all' %>
<%= form_with(model: pedido, local: true) do |form| %>
  <% if pedido.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(pedido.errors.count, "error") %> prohibieron que el pedido se guardara:</h2>
      <ul>
        <% pedido.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :campo1 %>  <!-- Cambia :campo1 por el campo real -->
    <%= form.text_field :campo1, required: true %>
  </div>

  <div>
    <%= form.label :campo2 %>  <!-- Cambia :campo2 por el campo real -->
    <%= form.text_field :campo2, required: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
