<%= form_with(model: detalle_de_pedido) do |form| %>
  <% if detalle_de_pedido.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(detalle_de_pedido.errors.count, "error") %> prohibited this detalle_de_pedido from being saved:</h2>

      <ul>
        <% detalle_de_pedido.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :cantidad, style: "display: block" %>
    <%= form.number_field :cantidad %>
  </div>

  <div>
    <%= form.label :precio_unitario, style: "display: block" %>
    <%= form.text_field :precio_unitario %>
  </div>

  <div>
    <%= form.label :subtotal, style: "display: block" %>
    <%= form.text_field :subtotal %>
  </div>

  <div>
    <%= form.label :pedido_id, style: "display: block" %>
    <%= form.text_field :pedido_id %>
  </div>

  <div>
    <%= form.label :producto_id, style: "display: block" %>
    <%= form.text_field :producto_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
