<%= stylesheet_link_tag 'cyp', media: 'all' %>
<h1>Detalles del Pedido <%= @pedido.id %></h1>
<h2>Detalles:</h2>
<%= form_with(model: DetalleDePedido.new, url: pedido_detalle_de_pedidos_path(@pedido), local: true) do |form| %>
  <div>
    <%= form.label :cantidad %>
    <%= form.number_field :cantidad, required: true %>
  </div>

  <div>
    <%= form.label :precio_unitario %>
    <%= form.number_field :precio_unitario, step: 0.01, required: true %>
  </div>

  <div>
    <%= form.label :subtotal %>
    <%= form.number_field :subtotal, step: 0.01, required: true %>
  </div>

  <div>
    <%= form.label :producto_id %>
    <%= form.collection_select :producto_id, Producto.all, :id, :nombre, prompt: true %>
  </div>

  <div>
    <%= form.submit "Agregar Detalle" %>
  </div>
<% end %>
