<div id="<%= dom_id categorium %>">
  <p>
    <strong>Nombre:</strong>
    <%= categorium.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= categorium.descripcion %>
  </p>

  <p>
    <strong>Fecha de creacion:</strong>
    <%= categorium.fecha_de_creacion %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= categorium.estado %>
  </p>

  <p>
    <strong>Imagen:</strong>
    <%= categorium.imagen %>
  </p>

</div>
