<div class="form-container">
  <%= stylesheet_link_tag 'cyp', media: 'all' %>

  <%= form_with(model: categorium, local: true) do |form| %>
    <% if categorium.errors.any? %>
      <div class="notice">
        <h2><%= pluralize(categorium.errors.count, "error") %> prohibited this categorium from being saved:</h2>
        <ul>
          <% categorium.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :nombre %>
      <%= form.text_field :nombre, class: 'form-control' %>
    </div>

    <div>
      <%= form.label :descripcion %>
      <%= form.text_area :descripcion, class: 'form-control' %>
    </div>

    <div>
      <%= form.label :fecha_de_creacion %>
      <%= form.date_field :fecha_de_creacion, class: 'form-control' %>
    </div>

    <div>
      <%= form.label :estado %>
      <%= form.text_field :estado, class: 'form-control' %>
    </div>

    <div>
      <%= form.label :imagen %>
      <%= form.file_field :imagen, class: 'form-control' %> <!-- Cambiado a file_field -->
    </div>

    <div>
      <%= form.submit 'Guardar', class: 'btn btn-primary' %> <!-- Agregado texto al botón y clase CSS -->
    </div>
  <% end %> 
</div>
