<%= stylesheet_link_tag 'cyp', media: 'all' %>

<p class="notice"><%= notice %></p>

<% content_for :title, "Categories" %>
<h1>Categories</h1>

<div id="categoria">
  <% @categoria.each do |categorium| %>
    <div class="usuario-card">
      <%= render categorium %>
      <p>
        <%= link_to "Show", categorium, class: "btn btn-view" %>
      </p>
    </div>
  <% end %>
</div>
           
<%= link_to "New Category", new_categorium_path, class: "btn btn-new" %> 
