<div id="<%= dom_id proveedor %>">
  <p>
    <strong>Nombre:</strong>
    <%= proveedor.nombre %>
  </p>

  <p>
    <strong>Contacto:</strong>
    <%= proveedor.contacto %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= proveedor.telefono %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= proveedor.email %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= proveedor.direccion %>
  </p>

</div>
