<h1>Pedidos</h1>

<table>
  <thead>
    <tr>
      <th>Fecha de Pedido</th>
      <th>Total</th>
      <th>Estado</th>
      <th>Método de Pago</th>
      <th>Cliente</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.fecha_pedido %></td>
        <td><%= pedido.total %></td>
        <td><%= pedido.estado %></td>
        <td><%= pedido.metodo_de_pago %></td>
        <td><%= pedido.cliente_id %></td>
        <td>
          <%= link_to 'Ver', pedido %>
          <%= link_to 'Editar', edit_pedido_path(pedido) %>
          <%= link_to 'Eliminar', pedido, method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar este pedido?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Nuevo Pedido', new_pedido_path %>
