<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-center alert alert-dismissible alert-success p-5">



<%= render @pedido %>

</div>
<div class="container text-center">
<div class="form-control" >
  <%= link_to "Editar ese pedido", edit_pedido_path(@pedido) %> |
  <%= link_to "Regresar a pedidos", pedidos_path %>
  <div class="form-control ">
  <%= button_to "Eliminar ese pedido", @pedido, method: :delete %>
</div>
 </div>
 </div>
