<%= stylesheet_link_tag 'dpyp', media: 'all' %>
<%= form_with(model: producto, local: true) do |form| %>
  <% if producto.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(producto.errors.count, "error") %> prohibieron que el producto se guardara:</h2>
      <ul>
        <% producto.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre %>
    <%= form.text_field :nombre, required: true %>
  </div>

  <div>
    <%= form.label :precio %>
    <%= form.number_field :precio, step: 0.01, required: true %>
  </div>

  <div>
    <%= form.label :stock %>
    <%= form.number_field :stock, required: true %>
  </div>

  <div>
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion %>
  </div>

  <div>
    <%= form.label :categoria_id %>
    <%= form.collection_select :categoria_id, Categoria.all, :id, :nombre, prompt: true %>
  </div>

  <div>
    <%= form.label :proveedor_id %>
    <%= form.collection_select :proveedor_id, Proveedor.all, :id, :nombre, prompt: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
