<div id="<%= dom_id producto %>" class="producto-container">
  <p>
    <strong>Nombre:</strong>
    <%= producto.nombre %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= number_to_currency(producto.precio, unit: 'S/', format: '%u%n') %> <!-- Formateo de precio -->
  </p>

  <p>
    <strong>Stock:</strong>
    <%= producto.stock %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= truncate(producto.descripcion, length: 100) %> <!-- Límite de caracteres -->
  </p>

  <p>
    <strong>Categoría:</strong>
    <%= producto.categorium.nombre if producto.categorium.present? %> <!-- Mostrar nombre de la categoría -->
  </p>

  <p>
    <strong>Proveedor:</strong>
    <%= producto.proveedor.nombre if producto.proveedor.present? %> <!-- Mostrar nombre del proveedor -->
  </p>
</div>

